In [ ]:
1. Multiple Datatypes -> Hetrogeneous
2. Mutable -> "Change the data in a list" - Not 100% correct 
3. Ordered -> Sequential (One after the other...)

In [ ]:
# empty list
my_list = []

In [ ]:
# list of integers
my_list = [1, 2, 3]

In [1]:
# list with mixed datatypes
my_list = [1, "Hello", 3.4]

In [ ]:
#[1,"xbx",3.2]
# 0,  1,  2

In [3]:
my_list

[1, 'Hello', 3.4]

In [5]:
my_list[0]

1

In [ ]:
[0,1,2,3,4,5,6,7,8,9,10]

inclusive:exclusive
[start:end:step]
2:10:2
2, 4, 6, 8

In [ ]:
H,e,l,l,o
0,1,2,3,4

In [7]:
my_list

[1, 'Hello', 3.4]

In [9]:
my_list[1][0:3]

'Hel'

In [ ]:
end-start-1

In [11]:
my_list[1][2:4]

'll'

In [15]:
# nested list
my_list = ["mouse", [8, 4, 6], ['a']]

In [17]:
my_list[1][0]

8

In [19]:
my_list[1][2] = 40
my_list[1][2]

40

In [21]:
my_list

['mouse', [8, 4, 40], ['a']]

In [ ]:
print(my_list[1])
print(my_list[0])
print(my_list[1][2])

In [ ]:
#InclassAssignment - Work on print/Output Formatting commands & send it across
#Rules of Assignment
#1. Copy the code which get executed 2. Understand what we copied, try to explore 
#every command which seems new for you
#2. Understand the copied code and test it with your own examples.
#Work on 2-3 Examples.

In [23]:
my_list = ['p','r','o','b','e']

In [25]:
print(my_list[2])

o

In [27]:
my_list = ['p','r','o','g','r','a','m','i','z']

In [29]:
print(my_list[2:5])

['o', 'g', 'r']

In [31]:
# mistake values
odd = [2, 4, 6, 8]

In [33]:
# change the 1st item    
odd[0] = 1

In [35]:
print(odd)

[1, 4, 6, 8]

In [37]:
a, b, c = 2,3,4
print(a)

2

In [39]:
odd[1:] = [3, 5, 7]

In [41]:
print(odd)

[1, 3, 5, 7]

In [43]:
#Append is used to add one element at a time
odd.append(9)

In [45]:
print(odd)

[1, 3, 5, 7, 9]

In [47]:
odd.append([11,13])

In [49]:
odd

[1, 3, 5, 7, 9, [11, 13]]

In [51]:
odd.extend([11, 13, 15])

In [53]:
odd

[1, 3, 5, 7, 9, [11, 13], 11, 13, 15]

In [55]:
odd.append([17,19])

In [57]:
print(odd)

[1, 3, 5, 7, 9, [11, 13], 11, 13, 15, [17, 19]]

In [59]:
#Deleting Elements in list
y_list = ['p','r','o','b','l','e','m']

In [61]:
del y_list[0]

In [63]:
y_list

['r', 'o', 'b', 'l', 'e', 'm']

In [65]:
del y_list[1:5]

In [67]:
y_list

['r', 'm']

In [69]:
del y_list

In [71]:
print(y_list)

NameError: name 'y_list' is not defined

In [73]:
my_list = ['p','r','o','b','l','e','m']

In [75]:
my_list.remove('p')

In [77]:
print(my_list)

['r', 'o', 'b', 'l', 'e', 'm']

In [79]:
my_list.remove('p')

ValueError: list.remove(x): x not in list

In [81]:
print(my_list)

['r', 'o', 'b', 'l', 'e', 'm']

In [83]:
print(my_list.pop())

m

In [85]:
my_list

['r', 'o', 'b', 'l', 'e']

In [87]:
print(my_list.pop())

e

In [89]:
print(my_list)

['r', 'o', 'b', 'l']

In [91]:
print(my_list.pop())

l

In [93]:
print(my_list)

['r', 'o', 'b']

In [95]:
my_list.clear()

In [97]:
print(my_list)

[]

In [99]:
my_list = [3, 8, 1, 6, 0, 8, 4]

In [101]:
my_list.reverse()

In [103]:
my_list

[4, 8, 0, 6, 1, 8, 3]

In [105]:
print(my_list.index(8))

1

In [107]:
print(my_list.count(8))

2

In [109]:
my_list.sort()

In [111]:
print(my_list)

[0, 1, 3, 4, 6, 8, 8]

In [113]:
my_list.sort(reverse = True)

In [115]:
print(my_list)

[8, 8, 6, 4, 3, 1, 0]

In [117]:
my_list

[8, 8, 6, 4, 3, 1, 0]

In [ ]:
my_list = ["Iphone", "Samsung", "MI","nokia"]
if "nokia" in my_list:
    print("Yes, 'Samsung' is in the Phones list")
else:
    pass

In [119]:
my_list = ["Iphone", "Samsung", "MI"]
my_list.insert(2, "Pixel")
print(my_list)

['Iphone', 'Samsung', 'Pixel', 'MI']

In [123]:
my_list = ["Iphone","Nokia", "Samsung", "MI","Pixel","Nothing"]
for x in my_list:
    print(x, end = "-")

Iphone-Nokia-Samsung-MI-Pixel-Nothing-

In [125]:
my_list = ['Iphone','Nokia', 'Samsung', 'Pixel', 'MI','nothing']
i = 2
while i < len(my_list):
  print(my_list[i])
  i = i + 1

Samsung
Pixel
MI
nothing

In [127]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
    #print(x)
    if "a" in x:
        newlist.append(x)
print(newlist)
#print(newlist)

['apple', 'banana', 'mango']

In [ ]:
def add_kanth(x,y):
   sum = x + y
   return sum

num1 = 6
num2 = 98

print("The sum is", add_kanth(num1, num2))

In [ ]:
add_kanth(1123,4356)

In [ ]:
add_kanth(11,13)

In [133]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [135]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [137]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [139]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend([1,2,3])
print(list1)

['a', 'b', 'c', 1, 2, 3]

# Method
#append()	Adds an element at the end of the list
#clear()	Removes all the elements from the list
#copy()	Returns a copy of the list
#count()	Returns the number of elements with the specified value
#extend()	Add the elements of a list (or any iterable), to the end of the current list
#index()	Returns the index of the first element with the specified value
#insert()	Adds an element at the specified position
#pop()	Removes the element at the specified position
#remove()	Removes the item with the specified value
#reverse()	Reverses the order of the list
#sort()	Sorts the list

In [141]:
mobile = ("Iphone","Samsung","MI")
y =("Pixel",)
mobile = tuple(mobile + y)
mobile

('Iphone', 'Samsung', 'MI', 'Pixel')

In [147]:
y = ("Pixel",)
type(y)

tuple

In [ ]:
## Type Casting

In [153]:
mobile = ("Iphone","Samsung","MI")
y =("Pixel",)
a = list(mobile)
b= list(y)
a.extend(b)
print(tuple(a))

('Iphone', 'Samsung', 'MI', 'Pixel')

In [ ]:
mobile

In [155]:
#mobile = mobile + y
mobile+=y
print(mobile)

('Iphone', 'Samsung', 'MI', 'Pixel')

In [157]:
mobile=("Iphone","Samsung","MI")
y=("Pixel")
mobile_l=list(mobile)
mobile_l.append(y)
mobile=tuple(mobile_l)
print(mobile)

('Iphone', 'Samsung', 'MI', 'Pixel')

In [159]:
mobile= ("Iphone","Samsung","MI")
mobile=mobile+("Pixel",)
print(mobile)

('Iphone', 'Samsung', 'MI', 'Pixel')

In [185]:
Phones = ("Samsung", "Iphone", "OnePlus","MI","Pixel")

(PAndroid, *Apple) = Phones

In [179]:
print(PAndroid)
print(Apple)
#print(Android)

Samsung
['Iphone', 'OnePlus', 'MI', 'Pixel']

In [ ]:
#Assignment in Class:
#1 . Practice List Commands with your own examples(Hands-on)
#2. Practice Tuple, Set, Dict commands with your own examples(Hands-on)
#Assignment in class
#1. Minimum two examples on Conditional Statements(If statement, If-else, If-Elif statement)
#2. Minimum two examples on Loops(For & While)
#3. User-Defined Functions
#4. Lambda Functions
#5. Escape Sequences
#6. Regular Expressions
#7. Print Formatting

In [ ]:
#Why we are doing this assigment
#1. To learn how to search
#2. To learn fixing the errors
#3. To build confidence and freeness over python
#4. To spend more time on python

In [ ]:
a = ['wel']
b= ['come']
full = a+b 
print(full)

In [ ]:

a = 'wel'

In [ ]:
a.extend(b)

In [ ]:
d = ('xyz', [10, 20, 30], (1, 2, 3))

In [ ]:
d[1][1:]

In [ ]:
aa = ['chadvik', 8.1, 'mba', 45, 45, 'dheeraj', 'hello world', 'dheeraj', 'hello world', 'dheeraj']

In [ ]:
aa.remove('hello world')

In [ ]:
aa

In [187]:
square_tup= [x**2 for x in range(1,11)]

In [189]:
square_tup

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
1. Search the code
2. Make it executable
3. Customise it based on your requirement
4. Explore every code and its purpose